mixin menu (items) 
   .flex-between.menu 
      .logo 
         a(href="index.html") 
            picture 
               img(src="img/logo.png" alt="logo")
            p MISOCIAL
      nav 
         .hamburger
            span
         ul.nav 
            for item in items 
               li 
                  a(href=item.url) #{item.name} 
                  //- //- Alternative(indexes)
                  //- a(href=item[1]) #{item[0]}
         .cta.cta-narrow 
            a(href="#") get started 

mixin figure (item) 
   figure.card 
      figcaption 
         picture 
            source(srcset=item.src + ".webp" type="image/webp") 
            source(srcset=item.src + ".png" type="image/png") 
            img(src=item.src + ".png" alt=item.alt) 
         p.type 
            strong personal 
         p.sup $ 
         h2 #{item.price}
            //- //- Alternative
            //- h2= item.price
            span.term /month 
         p.description #{item.description}
         .cta 
            a(href=item.url) select plan 