//- mixin menu (items) 
//-    for item in items 
//-       li 
//-          a(href=item.url) #{item.name} 
//-          //- a(href=item[1]) #{item[0]} 

mixin menu (items) 
   .flex-between.menu 
      .logo 
         a(href="index.html") 
            picture 
               img(src="img/logo.png" alt="logo")
            p MISOCIAL
      nav 
         <div class="hamburger">
            <span></span>
         </div>
         ul.nav 
            for item in items 
               li 
                  a(href=item.url) #{item.name} 
         .cta.cta-narrow 
            a(href="#") get started 

mixin figure (item) 
   figure 
      figcaption 
         picture 
            source(srcset=item.src + ".webp" type="image/webp") 
            source(srcset=item.src + ".png" type="image/png") 
            img(src=item.src + ".png" alt=item.alt) 
         p.type personal 
         p.sup $ 
         p.price 
            //- sup $ 
            //- strong= item.price 
            strong #{item.price}
               //- sub /month
            i /month 
         p.card-description #{item.description}
         .cta 
            a(href=item.url) select plan 